header{
    width: 100vw;
    height: 8px * 10;
    .menu{
        .hamburger{
            .icon{
                float: right;
                width: 8px * 5;
                height: 8px * 5;
                margin:   8px*2.5 8px*10;

                background-color: grey;
            }
            .hamburger-menu{

            }
        }
    }
}