header{
    width: 100vw;
    height: 8px * 10;
    .menu{
        .hamburger{
            .icon{
                display: inline-block;
                float: right;
                width: 8px * 5;
                height: 8px * 5;
                margin: 8px  * 2.5;

                background-color: grey;
            }
            .hamburger-menu{

            }
        }
    }
}