/* VARIABLES */

//COLORS
$dev-orange-color-1: #e9c4bb;
$dev-orange-color-2: #eba996;
$dev-orange-color-3: #f1957b;
$dev-orange-color-4: #f07d5e;
$dev-orange-color-5: #F3724F;
$dev-orange-color-6: #F3724F;
$dev-orange-color-7: #F3724F;
$dev-orange-color-8: #813722;
$dev-orange-color-9: #F3724F;
$dev-orange-color-10:#220f0a ;

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* APP */


.border{
    border:1px dashed rgb(44, 44, 44);
    padding: 8px * 2;
}