

.Mirza{
    display: grid;
    width: 100vw;

    text-align: center;

    header{
        width: 100vw;
        height: 8px * 10;

        background-color: white;

    }
    section{
        &.hero{

        }
        &.feature-images{

        }
        &.fashion-meets-design-i{

        }
        &.fashion{

        }
        &.design{

        }
        &.fashion-meets-design-ii{

        }
        &.bio-brief{

        }
        &.mirza-gallery{

        }
        &.clients{

        }
        &.cta{

        }
    }
    footer{

    }
}